---
const pageTitle = 'about me';

const identity = {
  firstName: 'Park',
  country: 'south korea',
  occupation: 'front end developer',
  hobbies: ['Game', 'Dev', 'Writer'],
};

const skills = ['html', 'css', 'javascript', 'react', 'astro'];

const happy = true;

const skillColor = 'navy';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skills {
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>About</h1>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
      <li>Two of my hobbies are: {identity.hobbies.map(hobby => hobby).join(', ')}</li>
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map(skill => <li class="skills">{skill}</li>)}
    </ul>
    <p>my fill is :</p>
    <span>{happy ? 'happy' : 'unHappy'}</span>
  </body>
</html>
